:root {
  --color-background: #FFFFFF;
  --color-primary: #0A999D;
  --color-secondary: #0CB4B7;
  --color-text: #333333;
  --color-border: #8f8f8f;
  --color-grisClaro: #d4cece59;
  --color-asulito: #5067EA;
}